html, body{
	height: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

* {
    color: inherit;
}

*:not(input) {
    -webkit-touch-callout: none;
    /* user-select: none; */
}


.divider {
    position: absolute !important;
    z-index: 3;
}

.divider.vertical {
    cursor: ew-resize;
}

.divider.horizontal {
    cursor: ns-resize;
}

.workspace {
    position: absolute;
    left: 0%;
    right: 0%;
	top: 51px;
    bottom: 51px;
}

.viewer_container,
.editor_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.viewer_container {
    right: 50%;
}

.editor_container {
    left: 50%;
}

.module_container {
    overflow: hidden;
    border: none;
}

.hide{
    display: none;
}


.module_wrapper {
    overflow: scroll;
    font-family: monospace;
    border: none;
    border-bottom: 1px solid #505050;
	color:#ffffff;
}

.module_wrapper .name {
    position: fixed;
    z-index: 5;
    padding: 4px;
    font-size: 14px;
    background: #98cfb2;
	color: #EEEEEE;
}

.module_wrapper > .wrapper {
    padding: 24px 16px;
    box-sizing: border-box;
}


.data_container {
    bottom: 60%;
}

.code_container {
    top: 40%;
}


.toast_container {
    position: absolute;
    bottom: 50px;
    right: 20px;
    padding: 12px;
    z-index: 4;
}

.toast {
    width: 280px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
}

.toast.error {
    border-color: rgb(150, 0, 0);
    background: rgba(120, 0, 0, .8);
}

.toast.info {
    border-color: rgb(0, 150, 0);
    background: rgba(0, 120, 0, .8);
}

pre {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(81, 81, 81);
    background: #060606;
    outline: none;
    resize: none;
}
section {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgb(38, 38, 38);
    box-sizing: border-box;
}


.mtbl-wrapper {
    width: 100%;
    height: 100%;
}

.mtbl-table {
    display: inline-table;
    color: white;
    table-layout: fixed;
    border: 1px solid #505050;
}

.mtbl-row {
    display: table-row;
}

.mtbl-col {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #eeeeee;
	color: #000000;
}

.mtbl-empty-row {
    display: table-row;
    background: rgb(63, 63, 63);
    height: 2px;
}

.mtbl-empty-col {
    display: table-cell;
    background: rgb(63, 63, 63);
    width: 2px;
}

.mtbl-col.selected {
    background: #2962ff;
}

.mtbl-col.notified {
    background: #c51162;
}

.mchrt-chart {
    width: 100%;
    height: 100%;
}

.modal-body {
	font-size:25px;
}

.modal-body div{
	width: 500px;
	display: block;
    word-break: break-all;
    word-wrap: break-word;
}
#loading-slider {
    z-index: 6000;
    position: absolute;
    width: 100%;
    height: 2px;
}

#loading-slider.loaded {
    visibility: hidden;
}
.executing {
    background: rgba(0, 174, 255, 0.4);
    border: 1px solid #0091ea;
    position: absolute;
    width: 100% !important;
    left: 0 !important;

    animation: line_highlight .1s;
}

@keyframes line_highlight {
    from {
        background: rgba(0, 174, 255, 0.1);
    }
    to {
        background: rgba(0, 174, 255, 0.4);
    }
}

.ace_editor {
    border-left: none;
    border-bottom: none;
}

.line {
    position: absolute;
    background: #4a8df8;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
}

.break {
    position: absolute;
    background: #222;
    width: 6px;
    height: 2px;
}

.dot1 {
    animation: loading 2s infinite;
}

.dot2 {
    animation: loading 2s 0.5s infinite;
}

.dot3 {
    animation: loading 2s 1s infinite;
}


@keyframes loading {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}